*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.sugarNSpice{
    height: 100vh;
    width: 100%;
    background-image: url(./images/Red\ tower.jpeg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 5%;
    padding-right: 5%;
}
.BigButton{
    color: burlywood;
    font-size: 50px;
    letter-spacing: 2px;
    cursor: pointer;
}
span{
    color: aqua;
}
nav ul li{
    display: inline-block;
    padding: 10px 35px;
}
nav ul li a{
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: yellow;
    transition: .5s;
}
.follow{
    background-color: #f9004d;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 30px;
}
.introduction{
    position: absolute;
    top: 40%;
    left: 5%;
    right: 0%;
}
.introduction a{
    color: black;
    background-color: white;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 10px 20px;
    border-radius: 30px;
    position: absolute;
    top: 50px;
    right: 40px;
}
h1{
    color:rgb(255, 255, 255);
    margin: 20px 0px 20px;
    font-size: 60px;
}
.About{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(205, 74, 41);
}
.About img{
    height: auto;
    width: 420px;
}
.The-text{
    width: 500px;
}
.main{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.The-text h3{
    color: aqua;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.The-text h4{
    color: rgb(5, 5, 5);
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.The-text p{
    color: white;
}
.contact-me{
    width: 100%;
    height: 200px;
    background: rgb(11, 11, 11);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact-me .Rada{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 30px;
}
.Skills{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(14, 14, 14);
    right:10px;
}
.Skills img{
    height: 420px;
    width: 600px;
    margin-left: 20px;
}
.skills-text p{
    color: white;
    margin-left: 20px;
}
.skills-text h3{
    color: aqua;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 20px;
}
.skills-text h4{
    color: rgb(233, 243, 51);
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-left: 20px;
}
.Punches{
    width: 100%;
    background-color: rgb(14, 14, 14);
}
.grandmaster2 img{
    height: 420px;
    width: 800px;
    margin-left: 18%;
}